.DS_Store
roboticscad:documentation/
omnipursuit code/
roboticsmedia/itd-robot-real.jpg
roboticsmedia/counterspring-slides.mov
roboticsmedia/marksmen-2024-25-portfolio.pdf
hstarportfolio/
hstarmedia/IMG_5484.HEIC.png
